.ButtonContainer {
  display: flex;
  align-items: center;
  justify-content: end;
}

.Button {
  border: none;
  padding: 8px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
  background: linear-gradient(90deg, #2e8b57, #3cb371);
}

.Button:hover {
  background: linear-gradient(90deg, #34985f, #43cd81);
}

.Button:active {
  background: linear-gradient(90deg, #3a8d5e, #4cb27a);
}